$font-stack: Helvetica, sans-serif
$font-size: 60px
$primary-color: #333
$float_left:  left 
$width: 200px

body
	font: $font-stack
	color: $primary-color

#alarm_message
	-webkit-border-radius: 20px
	-moz-border-radius: 20px
	border-radius: 20px
	background-color: rgb(92, 202, 92)
	border: 1px solid green
	padding: 6px
	font-size: 18px
	font-weight: bold
	margin: 10px

#reloj
	margin: auto
	position: absolute
	top: 0
	left: 0
	bottom: 0
	right: 0
	width: 50%
	height: 50%

#alarm_set_message
	-webkit-border-radius: 20px
	-moz-border-radius: 20px
	border-radius: 20px
	background-color: rgb(202, 92, 117)
	border: 1px solid red
	padding: 6px
	font-size: 18px
	font-weight: bold
	margin: 10px

#clock
	float: none
	margin: 0 auto
	text-align: center

#div_hours
	font-size: $font-size
	width: $width
	color: blue

#div_minute
	font-size: $font-size
	width: $width
	color: green

#div_seconds
	font-size: $font-size
	width: $width
	color: red