<!DOCTYPE html>
<html data-ng-app="tickTockApp">
  <head>
    <script data-require="jquery@*" data-semver="2.1.1" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link data-require="bootstrap@3.2.0" data-semver="3.2.0" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css" />
    <script data-require="bootstrap@3.2.0" data-semver="3.2.0" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.js"></script>
    <script data-require="angular.js@1.3.0" data-semver="1.3.0" src="http://code.angularjs.org/1.3.0/angular.js"></script>
    <script data-require="ng-route@1.2.0" data-semver="1.2.0" src="http://code.angularjs.org/1.2.0-rc.3/angular-route.js"></script>
 
    <link rel="stylesheet" href="css/style.css" />
    <script src="js/app.js"></script>
    <script src="js/controladores.js"></script>
  </head>
 
  <body ng-controller="InicioCtrl">
    <div class="container">
      <div class="well" id="reloj">
        <h1>{{message}}</h1>
        <div id="clock">
          <span id="div_hours">{{ clock | date:'HH'}}:</span>
          <span id="div_minute">{{ clock | date:'mm'}}:</span>
          <span id="div_seconds">{{ clock | date:'ss'}}</span>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <form role="form" id="form1">
              <div class="form-group">
                <label>Set the time for the alarm:</label>
                  <input class="form-control" ng-model="alarma.alarm" name="alarm" placeholder="HH:mm">
                  <input type="hidden" ng-model="alarma.alarm_hidden" name="alarm_hidden" value="{{alarma.alarm_hidden}}" >
              </div>
              <div id="alarm_set_message" ng-hide="alarm_set_message">{{alarma.set_message}}</div>
              <div id="alarm_message" ng-hide="alarm_message">It's time!</div>
              <button type="button" class="btn btn-default" ng-click="setAlarm()">Set Alarm</button>
            </form>
          </div>
        </div>
      </div>
    </div>
 
    <hr>
 
    <!--<div class="footer text-center">Copyright mi aplicación</div>-->
  </body>
</html>