<div class="jumbotron">
   <h1>{{message}}</h1>
    <div id="clock">
		<span id="div_hours">{{ clock | date:'HH'}}:</span>
		<span id="div_minute">{{ clock | date:'mm'}}:</span>
		<span id="div_seconds">{{ clock | date:'ss'}}</span>
   </div>
    <div class="row">
    	<div class="col-lg-6">
       		<form role="form" id="form1">
       			<div class="form-group">
           			<label>Set the time for the alarm:</label>
           				<input class="form-control" ng-model="alarm" name="alarm" placeholder="HH:mm">
           				<input type="hidden" ng-model="alarm_hidden" name="alarm_hidden" value="">
          		</div>
            	<button type="button" class="btn btn-default" ng-click="setAlarm()">Set Alarm</button>
            </form>
        </div>
    </div>
</div>